.logo {
  font-family: $secondary-font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $logoblack-color;
  margin-right: 93px;
}

.logo span {
  color: $accent-color;
}

footer .logo {
  color: $white-color;
  display: inline-block;
  margin-bottom: 20px;
}
